<h1><%= Ecm::Pictures::PictureGallery.model_name.human(:count => :other) %></h1>

<% case Ecm::Pictures::Configuration.render_picture_gallery_index_as %>
<% when :thumbnail %>
  <div class="row">
    <% @picture_galleries.each do |pg| %>
      <%= render :partial => 'ecm/pictures/picture_galleries/picture_gallery_for_index', :locals => { :picture_gallery => pg } %>
    <% end %>
  </div>
<% when :media_object %>
  <%= render_collection(@picture_galleries, Ecm::Pictures::PictureGallery, as: :bootstrap_media_object) do |list| %>
    <h4><%= list.resource.name %>
      <% if list.resource.respond_to?(:tag_list) %>
        <span class="tags">
          <% list.resource.tag_list.each do |tag| %>
            <span class="label label-primary"><%= tag %></span>
          <% end %>
        </span>
      <% end %>
    </h4>
    <%= list.media_object title: '', body: mu(list.resource, :description), image_url: list.resource.pictures.first.image.url(:default_thumb) %>
  <% end %>
<% end %>

<div class="well page-actions">
  <%= link_to(t('ecm.pictures.views.actions.back'), main_app.root_path, class: 'btn btn-default') %>
</div>
