<%= Ecm::Pictures::Configuration.prevent_textile_rendering_in_html ? '<notextile>'.html_safe : '' %>
<div class="gallery-description">
  <%= mu gallery, :description %>
</div>

<% if gallery.respond_to?(:tag_list) %>
  <div class="tags bottom-margin-1">
    <% gallery.tag_list.each do |tag| %>
      <span class="label label-default"><%= tag %></span>
    <% end %>
  </div>
<% end %>

<div class="gallery-pictures row" data-target="#modal-gallery" data-toggle="modal-gallery">
  <%= render gallery.pictures %>
</div>
<%= Ecm::Pictures::Configuration.prevent_textile_rendering_in_html ? '</notextile>'.html_safe : '' %>