.row
  %h1= @resource.to_s

.row
  = image_tag(@resource.image.url, class: "img-responsive")

.row
  - if Ecm::Pictures::Configuration.prevent_textile_rendering_in_html
    %notextile
      %p= @resource.description
  - else
    %p= @resource.description

.row
  = bootstrap_button(to: :back, context: :default) do
    = t('.back')